<!DOCTYPE html>
<html ng-app='gemStore'>
  <head>
    <title>Gem Market</title>
    <link rel='stylesheet' type='text/css' href='lib/bootstrap/css/bootstrap.min.css'/><!-- twitter bootstrap -->
  </head>
  <body><!--angular directive (see app.js)-->
    <script type='text/javascript' src='lib/angular/angular.min.js'></script><!-- angular js -->
    <script type='text/javascript' src='app.js'></script>
    <script type='text/javascript' src='gems.js'></script>

    <h1>{{"Welcome"+" to the Gem Store"}}</h1>

    <ul class='list-group' ng-controller='StoreController as store'>
      <div ng-repeat='gem in store.products | orderBy:"-price" ' ng-hide='product.soldOut'>
        <li class='list-group-item'>

          <h1>{{gem.name | uppercase}}</h1>
          <h2>{{gem.price | currency}}</h2>

        <!-- Tabs  -->
        <section ng-controller='TabController as tab'>
          <ul class='nav nav-pills'>
            <li ng-class="{ active:tab.tab === 1}"> <a href  ng-click='tab.tab = 1'> Description </a> </li>
            <li ng-class="{ active:tab.isSelected(2)}"> <a href  ng-click='tab.setTab(2)'> Specifications </a> </li>
            <li ng-class="{ active:tab.isSelected(3)}"> <a href  ng-click='tab.setTab(3)'> Review </a> </li>
          </ul>

          <div class='panel' ng-show='tab.isSelected(1)'>
            <h4>Description</h4>
            <p>{{gem.description}}</p>
          </div>

          <div class='panel' ng-show='tab.isSelected(2)'>
            <h4>Specifications</h4>
            <p>None yet</p>
          </div>

          <div class='panel' ng-show='tab.isSelected(3)'>
            <h4>Review</h4>
            <div ng-controller='ReviewController as rev'>
              <div ng-repeat='review in gem.reviews'>
                <blockquote>
                  <strong>{{review.stars}} Stars</strong>
                  {{review.body}}
                  <cite class="clearfix">-{{review.author}}</cite>
                </blockquote>
              </div>

              <!--  Review Form -->
            <form name="reviewForm" ng-submit='reviewForm.$valid && rev.addReview(gem)' novalidate>
              <!--  Live Preview -->
              <blockquote>
                <strong ng-show='rev.review.stars'>{{rev.review.stars}} Stars</strong>
                <p ng-show='rev.review.body'>{{rev.review.body}}</p>
                <cite class="clearfix" ng-show='rev.review.author'>-{{rev.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="rev.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="rev.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model='rev.review.author' type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>

              <div ng-hide='reviewForm.$valid'>Fill the review form.</div>
            </form><!--  Review Form -->

            </div>
          </div>
        </section>


        </li>
      </div>
    </ul>

  </body>
</html>
